@(streamId: String, reference: String, reload: String)
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- 1. skin -->
    <link rel="stylesheet" href="http://192.168.0.2:8080/resource/css/flowplayer/skin/functional.css">

    <!-- 2. jquery library - required for video tag based installs -->
    <script type="text/javascript" src="http://192.168.0.2:8080/resource/js/jquery/jquery.js"></script>

    <!-- 3. flowplayer -->
    <script src="http://192.168.0.2:8080/resource/js/flowplayer/flowplayer.js"></script>

    <!--
    <link rel="stylesheet" href="http://192.168.0.2:8080/resource/css/mediaelement/mediaelementplayer.css?reload=@reload" />
    -->
    <!--
    <script src="http://192.168.0.2:8080/resource/js/mediaelement/mediaelement-and-player.min.js"></script>
    -->
    <!--
    <script src="node_modules/pkcs7/dist/pkcs7.unpad.js"></script>
    --
    <script src="http://192.168.0.2:8080/resource/js/video-js/decrypter.js"></script>

    <script src="http://192.168.0.2:8080/resource/js/video-js/bin-utils.js"></script

    <!--
    <script type="text/javascript">jwplayer.key="QD9+0zA3lBuUqY+H1VPxsxMbBYmxXR88oIcc/w==";</script>
    -->
</head>
<body>

<style>
    .flowplayer {
    width: 600px;
    height: 338px;
    }
</style>
<div id="player" data-ratio="0.75" class="is-splash" style="background-color:#777; background-image:url(/resource/img/waid/icon.png);">

</div>

<script>
// select the above element as player container
var container = document.getElementById("player");

// install flowplayer into selected container
flowplayer(container, {
    clip: {
        sources: [
              { type: "application/x-mpegurl",
                src:  "http://192.168.0.2:8080/stream/@streamId/playlist/playlist-@reference" }
        ]
    }
});

</script>

</body>
</html>

