@* changePassword template file *@

@(myForm: Form[ChangePassword], changePasswordId: String)(implicit messages: Messages)

@import models.ChangePassword
@import util.helper.MyHelper._

@main("(WAID) What Am I Doing?") {

} {
 <div style="text-align: center;">
   <br/>
   <p>
     <div class="row">
       <div class="col-md-8 col-md-offset-1">
	 <div class="hero-unit">
	   <p>Please enter your new Password
	  </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-md-offset-3">
         <div class="well">
	   @helper.form(action = routes.UserAdminController.performPasswordChange, 'class ->"form-horizontal", 'role-> "form") {
	    @helper.inputText(myForm("password"),'id -> "password")
	    @helper.inputText(myForm("confirmPassword"),'id -> "confirmPassword")
            <input type="hidden" name="changePasswordId" value="@changePasswordId"/>
	   
	    <input type="submit" class="btn btn-lg" value='@play.api.i18n.Messages("changepassword.submit.button")'>
              }
        </div>
       </div>
     </div>
   </p>

 </div>

}
