@(social: Seq[Tuple3[String,String,String]],locations:List[Location], accepted: Seq[Tuple3[String,String,String]], notAccepted:Seq[Tuple3[String,String,String]], linkedInRefs:List[Tuple2[Float,Float]], twitterRefs: List[Tuple2[Float,Float]], facebookRefs: List[Tuple2[Float,Float]])

@import models.Location

<div style="overflow:scroll;">

    @if(!locations.isEmpty) {
    <table class="table table-hover">
        <thead>
           <th>Stream broadcast Location</th>
        </thead>
        <tbody>
   <tr><td>  <div class="col-md-6 col-md-offset-1 ui-widget-content" id="locationMap"  style="width:200px; height: 200px;"> Location Was Not Supplied </div></td></tr>
        </tbody>
    </table>

    } 
    @if(accepted.isEmpty && notAccepted.isEmpty) {
      <Label>No One Was Invited To Watch</Label>
    }

    @if(notAccepted.isEmpty ) {
    } else {
      <label>Following People Did Not Accept</label>
    <table class="table table-hover">
        <thead>
           <th>Email</th>
           <th>First Name</th>
           <th>Last Name</th>
        </thead>
        <tbody>
        @for((email,firstName,lastName) <- notAccepted) {
           <tr><td>@email</td><td>@firstName </td><td>@lastName</td></tr>
        }
        </tbody>
    </table>

    }

    @if(accepted.isEmpty) {
    } else {
      <label>Following People Accepted</label>
    <table class="table table-hover">
        <thead>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        </thead>
        <tbody>
        @for((email,firstName,lastName) <- accepted) {
        <tr><td>@email</td><td>@firstName </td><td>@lastName</td></tr>
        }
        </tbody>
    </table>
    }

    @if(!social.isEmpty) {
      <table class="table table-hover">
	<thead>
	  <th colspan="3"> Social Media Invites </th>
	</thead>
	<tbody>
          @for((email,firstName,lastname) <- social) {
           <tr><td>@email</td><td>@firstName</td><td>@lastname</td></tr>
          }
	</tbody>
      </table>
    }

    <table class="table table-hover">
        <thead>
    @if(!facebookRefs.isEmpty) {
        <th>Location of those viewed on Facebook</th>
    } 


    @if(!twitterRefs.isEmpty) {
        <th>Location of those viewed on Twitter</th>
    } 

    @if(!linkedInRefs.isEmpty) {
        <th>Location of those viewed on LinkedIN</th>
    } 

        </thead>
        <tbody>
	  <tr>
   @if(!facebookRefs.isEmpty) {
  <td>  <div class="jumbotron col-md-6 col-md-offset-1" id="facebookMap"  style="width:200px; height: 200px;"> Location Was Not Supplied </div></td>
}
   @if(!twitterRefs.isEmpty) {
   <td>  <div class="jumbotron col-md-6 col-md-offset-1" id="twitterMap"  style="width:200px; height: 200px;"> Location Was Not Supplied </div></td>
     
}
    @if(!linkedInRefs.isEmpty) {
  <td>  <div class="jumbotron col-md-6 col-md-offset-1" id="linkedinMap"  style="width:200px; height: 200px;"> Location Was Not Supplied </div></td>
   }

</tr>
        </tbody>
    </table>

 

  <script>
      $( "#locationMap" ).resizable();

  var locationMap;
   @if(!locations.isEmpty) {
        var locations = [
            @for((loc,index) <- locations.zipWithIndex) {
              @if((index.asInstanceOf[Int] +1) == locations.size) {				   
                 [@loc.latitude, @loc.longitude, @(index+1)]
	       } else {
                 [@loc.latitude, @loc.longitude, @(index+1)],
	       }
             }
          ];


      locationMap = new google.maps.Map(document.getElementById('locationMap'), {
      zoom: 18,
      center: new google.maps.LatLng(@locations.head.latitude, @locations.head.longitude),
      mapTypeId: google.maps.MapTypeId.HYBRID
    });

    var locationInfowindow = new google.maps.InfoWindow();
    var markerLocation, i;

    for (i = 0; i < locations.length; i++) {  
      markerLocation = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: locationMap
      });

      google.maps.event.addListener(markerLocation, 'click', (function(markerLocation, i) {
        return function() {
          locationInfowindow.setContent("don't know");
          locationInfowindow.open(locationMap, markerLocation);
        }
      })(markerLocation, i));
    }

   }

   var twitterMap;
   @if(!twitterRefs.isEmpty) {
        var locationsTwitter = [
            @for(((lat,lg),index) <- twitterRefs.zipWithIndex) {
              @if((index.asInstanceOf[Int] +1) == twitterRefs.size) {				   
                 [@lat, @lg, @(index+1)]
	       } else {
                 [@lat, @lg, @(index+1)],
	       }
             }
          ];


      twitterMap = new google.maps.Map(document.getElementById('twitterMap'), {
      zoom: 1,
      center: new google.maps.LatLng(@twitterRefs.head._1, @twitterRefs.head._2),
      mapTypeId: google.maps.MapTypeId.HYBRID
    });

    var twitterInfowindow = new google.maps.InfoWindow();
    var markerTwitter, j;
    for (j = 0; j < locationsTwitter.length; j++) {  
      markerTwitter = new google.maps.Marker({
        position: new google.maps.LatLng(locationsTwitter[j][0], locationsTwitter[j][1]),
        map: twitterMap
      });

      google.maps.event.addListener(markerTwitter, 'click', (function(markerTwitter, j) {
        return function() {
          twitterInfowindow.setContent("don't know");
          twitterInfowindow.open(twitterMap, markerTwitter);
        }
      })(markerTwitter, j));
    }
  }
  

   var facebookMap;
   @if(!facebookRefs.isEmpty) {
        var locationsFacebook = [
            @for(((lat,lg),index) <- facebookRefs.zipWithIndex) {
              @if((index.asInstanceOf[Int] +1) == facebookRefs.size) {				   
                 [@lat, @lg, @(index+1)]
	       } else {
                 [@lat, @lg, @(index+1)],
	       }
             }
          ];


      facebookMap = new google.maps.Map(document.getElementById('facebookMap'), {
      zoom: 5,
      center: new google.maps.LatLng(@facebookRefs.head._1, @facebookRefs.head._2),
      mapTypeId: google.maps.MapTypeId.HYBRID
    });

    var facebookInfowindow = new google.maps.InfoWindow();
    var markerFacebook, k;
    for (k = 0; k < locationsFacebook.length; k++) {  
      markerFacebook = new google.maps.Marker({
        position: new google.maps.LatLng(locationsFacebook[k][0], locationsFacebook[k][1]),
        map: facebookMap
      });

      google.maps.event.addListener(markerFacebook, 'click', (function(markerFacebook, i) {
        return function() {
          facebookInfowindow.setContent("don't know");
          facebookInfowindow.open(facebookMap, markerFacebook);
        }
      })(markerFacebook, k));
   }
 }
   var mapLinkedin;
   @if(!linkedInRefs.isEmpty) {
        var locationsLinkedIn = [
            @for(((lat,lg),index) <- linkedInRefs.zipWithIndex) {
              @if((index.asInstanceOf[Int] +1) == linkedInRefs.size) {				   
                 [@lat, @lg, @(index+1)]
	       } else {
                 [@lat, @lg, @(index+1)],
	       }
             }
          ];


      mapLinkedin = new google.maps.Map(document.getElementById('linkedinMap'), {
      zoom: 1,
      center: new google.maps.LatLng(@linkedInRefs.head._1, @linkedInRefs.head._2),
      mapTypeId: google.maps.MapTypeId.HYBRID
    });

    var linkedinInfowindow = new google.maps.InfoWindow();
    var markerLinkedIn, l;

    for (l = 0; l < locationsLinkedIn.length; l++) {  
      markerLinkedIn = new google.maps.Marker({
        position: new google.maps.LatLng(locationsLinkedIn[l][0], locationsLinkedIn[l][1]),
        map: mapLinkedin
      });

      google.maps.event.addListener(markerLinkedIn, 'click', (function(markerLinkedIn, k) {
        return function() {
          linkedinInfowindow.setContent("don't know");
          linkedinInfowindow.open(mapLinkedin, markerLinkedIn);
        }
      })(markerLinkedIn, l));
    }
  
  }




  </script>

 </div>
